*{
    font-family:sans-serif;
}
h1 {background-color: black; 
    color:white;
    font-weight:900
}
span {color:aqua}
h2 {background-color: rebeccapurple; 
    color:whitesmoke; 
    text-align:center;
    font-style: italic; 
    font-weight:light
}
h3 {background-color: skyblue;
    text-align: right;
    text-decoration-line: underline;
    font-weight: lighter;
}